.navbar {
	position: fixed;
	width: 100%;
	z-index: 9;
	color: #000;
	.container {
		display: flex;
		align-items: center;
		height: 77px;
	}
	img {
		width: 50px;
	}
	.navbar-brand {
		font-size: 1.25rem;
		font-weight: 500;
	}
	.navbar-links {
		margin-left: auto;
		a {
			margin-left: 60px;
			font-size: 0.9rem;
			font-weight: 500;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
